<div ng-controller="QuestionCtrl" class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <h1 ng-if="answerQuestions.length">{{ answerQuestions }}</h1>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="question in questions">
      <div class="thumbnail">
        <div class="caption">
          <h4>{{question.question}}</h4>
          <form name="userAnswer" novalidate>
            <ul>
              <li ng-repeat="answer in question.answers">
                <ng-form name="userAnswerPick">
                  <div class="radio">
                    <label><input ng-click="changeInput(this)" type="radio" name="pick" ng-value="value">{{answer.answer}}</label>
                  </div>
                </ng-form>
              </li>
            </ul>
            <h1>Your answer is {{question.userAnswer.group}}</h1>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="http://hashinteractive.com/">Hash Interactive</a></p>
  </div>
