<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>Hello There!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="Spot For Me"><br>
      Pick your next adventure!
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#questions">Destination Quiz</a></p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="destination in destinations | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{destination.logo}}" alt="{{destination.title}}">
        <div class="caption">
          <h3>{{destination.title}}</h3>
          <p>{{destination.description}}</p>
          <p><a ng-href="{{destination.url}}">{{destination.url}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
